body{
    background:black;
}

header{
    background: linear-gradient(45deg,rgb(108, 108, 255),rgb(88, 88, 112));
    width: 100%;
    height: 5rem;
}

.logo{
    width: fit-content;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3px;
    font-size: larger;
    color: white;
}


