body{
    background:black;
}

header{
    background: linear-gradient(45deg,rgb(108,108,255),rgb(88,88,112));
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding: 0 1.5rem;  */
}



.logo{

     font-size: larger;

    color: white;
    flex-shrink: 2;  
    padding-left: 2em;  

}

nav{
    display: flex;
    padding-right: 1.5em;

}

#allul{
    display: flex;
    list-style: none;
    gap: 20px;
}

@media (max-width:400px) {
    #allul{
        /* display: none; */
        position: relative;
        right: -2000px;
    }

}

#show{
    color: red;
    display: none;
}


@media (max-width:400px) {

    #show{
        display: block;
        cursor: pointer;
    }
}

h1{
    background:pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* color:linear-gradient(120deg,red,blue); */
    color: blueviolet;
    font-size: clamp(2.5em,10vw,5em);
}