body{
    background:black;
}

header{
    background: linear-gradient(45deg,rgb(108,108,255),rgb(88,88,112));
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding: 0 1.5rem;  */
}



.logo{

     font-size: larger;

    color: white;
    flex-shrink: 2;  
    padding-left: 2em;  

}

nav{
    display: flex;

}

nav > ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

@media (max-width:400px) {
    nav>ul{
        display: block;
    }
}

